<title itemprop="name">{{ if .IsHome }}{{ i18n "description" }} | {{ i18n "title" }}{{ else }}{{ .Title }} | {{ i18n "title" }}{{ end }}</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ i18n "description" }}{{ end }}" />
<meta property="og:title" content="{{ if .IsHome }}{{ i18n "description" }} | {{ i18n "title" }}{{ else }}{{ .Title }} | {{ i18n "title" }}{{ end }}" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ i18n "description" }} | {{ i18n "title" }}{{ else }}{{ .Title }} | {{ i18n "title" }}{{ end }}" />
<meta itemprop="name" content="{{ if .IsHome }}{{ i18n "description" }} | {{ i18n "title" }}{{ else }}{{ .Title }} | {{ i18n "title" }}{{ end }}" />
<meta name="application-name" content="{{ .Title }} | {{ i18n "title" }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ i18n "description" }}{{ end }}" />
<meta property="og:site_name" content="{{ i18n "title" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.Language.LanguageCode }}">
<meta property="og:image" content="{{ if .Params.featured_image }}{{ .Params.featured_image | absURL }}{{ else }}{{ .Site.Params.og_image | absURL }}{{ end }}" />
<meta property="og:image:secure_url" content="{{ if .Params.featured_image }}{{ .Params.featured_image | absURL }}{{ else }}{{ .Site.Params.og_image | absURL }}{{ end }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://gptdevelopment.online/">
<meta name="twitter:image" content="{{ if .Params.featured_image }}{{ .Params.featured_image | absURL }}{{ else }}{{ .Site.Params.og_image | absURL }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ i18n "description" }}{{ end }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
